.mainVideoContent {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.mainVideoContent img:first-child{
    z-index: 0;
    height: auto;
    width: 99.15%;
    position: absolute;
    transform: translateY(-20%);
}

#videoContent {
    margin-top: 3%;
    background: white;
    height: 100%;
    z-index: 1;
    position: relative;
}

.youtubePlayer iframe {
}

#videoContent p {
    margin: unset;
    font-size: 26px;
    padding-bottom: 15px;
}

#videoCol {
    display: inline-block;
    margin: 0% 5%;
    width: 40%;
}

#videoCol:last-child {
    margin-bottom: 10em;
}

#video {
    margin-bottom: 4em;
}