// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-tab-header {
    background: #959595;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 1em;
}

.tabImageText img{
    width: 100%;
    height: auto;
}

.tabImageText h1, .tabImageText p {
    text-align: center;
    font-weight: bold;
}

.tabImageText p {
    font-size: 20px;
}

.UIProgress {
    all: unset;
}

.tabImageText {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow-x: hidden;
}

.tabImageTextGrid {
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
    // margin:auto;
}

.mat-tab-body-content, .mat-tab-body {
    overflow: unset !important;
}

.tabText {
    position: absolute;
    top: 1em;
    grid-column: 1;
    grid-row: 1;
    color: white;
    font-size: 1.4em;
    width: 100%;
}

.tabText p {
    text-align: left;
    font-weight: lighter;
}

.tabText h1{
    margin-top: 0%;
}

.tabText p {
    width: 50%;
    margin: auto;
}

.UIProgress .mat-tab-header {
    background: unset;
    color: black;
    text-align: center;
    border-bottom: 2px solid black;
    width: 30%;
    margin: auto;
    font-size: 1.5em;
    font-weight: 100;
}

.mat-card {
    border: 1px solid black;
    width: 15%;
    margin: 2% auto 0% auto;
    height: 17em;
}

.mat-tab-label:focus {
    background-color: rgba(0, 0, 0, .3);
}

.mat-tab-label:hover {
    background-color: rgba(0, 0, 0, .15);
}

.UIProgress .mat-tab-body-content {
    overflow: hidden;
    display: inline-flex;
    width: 100%;
    margin-top: 1%;
}

.progress {
    border-radius: 10px;
    border: 1px solid black;
    grid-row: 3;
    grid-column: 1;
}

.progress span {
    font-size: 1em;
}

.progressInProgress {
    border: 1px solid black;
    border-radius: 10px;
    height: 1em;
}

.progress-bar {
    background: #004a80;
    color: white;
    font-weight: 200;
    border-radius: 10px;
    height: 1.3em;
    min-width: 20%;
}

.progress-bar span {
    padding-left: 1em;
    line-height: 1em;
}

.cardGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 2.8fr .1fr;
}

.cardGrid h3{
    grid-column: 1;
    grid-row: 1;
    margin: unset;
    font-weight: bold;
}

.cardGrid p{
    grid-column: 1;
    grid-row: 2;
    margin-bottom: unset;
    margin-top: 3%;
}

.cardGrid .progressInProgress {
    grid-column: 1;
    grid-row: 3;
}

.progressComplete {
    border: 1px solid black;
    border-radius: 10px;
    height: 1em;
    background: green;
    text-align: center;
}

.progressComplete span {
    color: white;
}

.mat-tab-label {
    color: black !important;
    font-weight: bold;
}

.mat-ink-bar {
    visibility: hidden !important;
}

.mat-tab-label-active {
    background: rgba(0,0,0,.2);
}

.mat-card {
    width: 16em;
    margin-right: 1em;
}

#cardRow {
    margin: 0% auto;
}

#cardCol {
    display: flex;
}

.mainGroupHeader .mat-tab-label-content {
    font-size: 20px;
}

.UIProgress .mat-tab-label-content {
    font-size: 14px;
}

.contentToDisplay {
    margin-left: 48%;
    margin-top: 2%;
}

#cardInProgress {
    cursor: pointer;
}
