<div id="header">
    <img src="../../assets/artboard_1.png">
    <div id="username"><i class="fa fa-user" style= "padding-right: 10px; color: #024a66"></i>User Name <i class="fa fa-caret-down" style= "color: #024a66"></i></div>
</div>
<div id="menu">
  <a href="/home">Home</a>
  <a href="/learning">Learning</a>
  <a href="#">Communities</a>
  <a href="#">Enablement</a>
  <a href="#">Videos</a>
  <a href="#">Member Directory</a>
  <form class="example" style="margin:auto;height:20px">
    <input type="text" placeholder="Search" name="search2" style="background-color:white;border: white">
    <button type="submit" style="background-color:white;border: white"><i class="fa fa-search" style="background-color:white; border-radius: 3px;border: white;right: 20px"></i></button>
  </form>
</div>
<mat-tab-group class="mainGroupHeader" [disableRipple]=true>
  <mat-tab class="groupHeader" label="Advanced Software Developer">
    <div class="tabImageText">
        <div class="tabImageTextGrid">
        <img src="../../assets/Rectangle 9.png">
        <div class="tabText">
          <h1>Advanced Software Developer</h1>
          <p>I currently do not hold a design. Please enjoy this placeholder.</p>
        </div>
        </div>
      </div>
  </mat-tab>
  <mat-tab class="groupHeader" label="UI/UX">
    <div class="tabImageText">
      <div class="tabImageTextGrid">
      <img src="../../assets/Rectangle 9.png">
      <div class="tabText">
        <h1>UI / UX Bootcamp</h1>
        <p>In this 12 week Bootcamp, learners will gain a solid understanding of the fundamentals of 
          UI/UX design. Learners will discover user centric design, prototyping, engagin stakeholders, 
          and how to solve real world degisn problems. They will learn how to properly research a user
          experience with the three principles of Inspiration, Ideation, and Implementation. Learners 
          will discover how to implement Lean UX for Agile working environments</p>
      </div>
      </div>
    </div>
    <mat-tab-group class="UIProgress" mat-align-tabs="center"[disableRipple]=true>
        <mat-tab class="notStarted" label="Not Started">
          <mat-card>empty card</mat-card>
        </mat-tab>
      <mat-tab class="inProgress" label="In Progress">
          <mat-card class="cardGrid">
              <h3>Module 1</h3>
              <p>description of this module 1</p>
              <div class="progress" style="width: 100%">
                  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': .45*100}">
                      <span>45%</span>
                  </div>
                </div>
            </mat-card>
            <mat-card class="cardGrid">
                <h3>Module 1</h3>
                <p>description of this module 1</p>
                <div class="progress" style="width: 100%">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': 0*100}">
                        <span style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">0%</span>
                    </div>
                  </div>
              </mat-card>
      </mat-tab>
      <mat-tab class="completed" label="Completed">
        <mat-card>empty card</mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>