<!--
<div class="container" fxLayout="column" >

<div class="body">
<input type="file" #file  (change)="onFileChange()">
<div *ngFor="let att of attachments" class="filename">
     <h3> {{att.fileNm}}</h3>
</div>
<div class= "download">
    <div >
        <p>
        </p>
      </div>

</div>
</div>
<div class="close">
    <mat-dialog-actions class="actions ">
        <button mat-button mat-dialog-close>Close</button>
        <button mat-raised-button color="primary"></button>
    </mat-dialog-actions>
    </div>
    </div>
 -->

 <ng-template #content let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" >Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngFor="let att of t.attachments">
        <p>
          {{att.fileNm}}
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  <div class= "launchbutton">
      <button class="btn btn-lg btn-outline-primary" data-toggle="modal" data-target="#modal-basic-title" (click)="open(content)"> Launch Excercises </button>
      <!-- <input type="file" #file  (change)="onFileChange($event)">
      <button mat-button (click)="updateTopic(t)" >Save</button> -->
    </div>
