
.body{
  display: grid;
  grid-template-columns: .5fr .5fr ;
  grid-template-rows: 1fr;
}

.filename {
  grid-column: 1;

}

.download {
  grid-column: 2;
  grid-row: 1;
  width: 10%;
  height: 20%;
}
.download .fa {
  padding-top: 90%;
}

// .close{
//   padding-top: 50%;
// }
.close button {
  width: 10%;
  text-align: left;
}

.mat-dialog-container {
  height: fit-content !important;
}