<div>
  <h1>Register a user</h1>
  <hr>
  <form>
    <mat-form-field appearance="outline"><input matInput placeholder="Email"  type="text" name="email" [(ngModel)]="email">
    </mat-form-field><br>
    <mat-form-field appearance="outline"><input matInput placeholder="Full Name"  type="text" name="username" [(ngModel)]="name">
    </mat-form-field><br>
    <mat-form-field appearance="outline"><input matInput placeholder="Password" type="password" name="password" [(ngModel)]="password">
    </mat-form-field><br>
    <button mat-button (click)="authenticate()" type="submit" style="margin-bottom: 2%;">
      Log in
    </button>
  </form><br>
</div>