<div class="learningContent">
  <div *ngIf="isLoading" class="contentToDisplay">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div *ngIf="!isLoading">
  <div class= "headerLearningContent" *ngFor="let m of modules; let i = index">
    <h1>{{m.title}}</h1>
    <div class="headerProgress" style="width:25em">
      <div class="headerProgress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': (m.progress-1)*50}">
          <span>{{(m.progress-1)*50}}%</span>
        </div>
  </div>
  <div class="time"><h3></h3></div>
  <div *ngIf="getUserRoleInstructor()" class="modfileSave">
    <input type="file" #file  (change)="onFileChange2($event,m, i)">
    <div style="display: inline-flex; margin-top: 10px; width: 100%;">
      <mat-progress-spinner *ngIf="modfileUploading" class="bbcontentToDisplay" [diameter]="20" color="primary" mode="indeterminate">
      </mat-progress-spinner>
      <button style="margin-left: 25%; margin-top: 10px;" [disabled]="modfileUploading" mat-button (click)="updateModule(m,m.id,i)" >Add Instructor Content</button>
    </div>
    </div>
  <div class="toggleDetailsButton">
    <!-- <button mat-button *ngIf="!userRole()" (click)=toggleContent()>Disable Content for Students</button> -->
  </div>
  <div class="learningDetailSeperator">
  <div *ngIf="!hide">
  <hr>
  <div class="showTopics" *ngFor="let t of topics; let i = index" >
  <div class="subheader" *ngIf="!t.hidden">
    <div class="subheaderlc">
      <h3>{{t.topicTitle}}</h3>
    </div>
    <!-- <div id="detailProgress" class="progress">
      <div class="progress-barDetails" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': .0001*100}">
        <span>0%</span>
      </div>
    </div> -->

  <!-- //////////////////////////MODAL//////////////////////////////// -->
<ng-template #content let-modal let-c="close" let-d="dismiss">
<div class="modal-header">
  <h3 class="modal-title" id="modal-basic-title">Download Content</h3>
  <button mat-button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="learningDetailGridSeperator" *ngFor="let att of t.attachments">
  <div class="learningDetailGrid">
      <p class="learningDetailName" *ngIf="att.description === 'Content' || att.description === 'Exercise'" (click)="downloadAttatchemnts(att.id)">{{att.fileNm}}</p>
      <a class="learningDetailName" href="assets/quizzes/{{att.fileNm}}/story.html" target="_blank"
      style="display: block; margin-block-start: 2em; margin-block-end: 2em; color: black; margin-inline-start: 0px; margin-inline-end: 0px;" 
      *ngIf="att.description === 'Quiz' && hiddenQuiz(att.quiz)">{{att.fileNm}}</a>
      <div class="learningDetailSetProgress" *ngIf="getUserRoleInstructor()">
          <mat-form-field>
            <mat-select placeholder="Set content status" [(value)]="att.description">
              <mat-option value="Exercise">Exercise</mat-option>
              <mat-option value="Content">Downloadable</mat-option>
              <mat-option value="Quiz">Quiz</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button (click)="updateExerciseStatusChange(t)">Update Status</button>
      </div>
        <!-- <button style="margin-left: 25%; margin-top: 10px;" mat-button ">Download</button> -->
        <i  id="learningDetailDownload"class="fa fa-download" *ngIf="att.description === 'Content' || att.description === 'Exercise'"
        aria-hidden="true" (click)="downloadAttatchemnts(att.id)"></i>
    <!-- <div *ngFor="let a of attList">
    <p *ngIf="att.attachmentId === a.id">
      {{att.fileNm}}
      <button style="margin-left: 25%; margin-top: 10px;" mat-button (click)="downloadAttatchemnts(a.id)">Download</button>
    </p>
  </div> -->
  </div>
</div>
</div>
</ng-template>
    <div class= "launchbutton">
      <button mat-button class="btn btn-lg btn-outline-primary" id="launchExercises" data-toggle="modal" data-target="#modal-basic-title" (click)="open(content)"> Launch Exercises </button>
    </div>
    <div *ngIf="getUserRoleInstructor()" class="fileSave">
      <input type="file" #file  (change)="onFileChange($event,t)">
      <div style="display: inline-flex; margin-top: 10px; width: 100%;">
        <mat-progress-spinner *ngIf="fileUploading === t.id" class="bbcontentToDisplay" [diameter]="20" color="primary" mode="indeterminate">
        </mat-progress-spinner>
        <button style="margin-left: 25%; margin-top: 10px;" [disabled]="!fileUploading === t.id" mat-button (click)="updateTopic(t, m.id)" >Add Content</button>
      </div>
    </div>
    </div>
  </div>
</div>
<div *ngIf="getUserRoleInstructor()">
    <div class="resourceHeader">
      <h1>Resources</h1>
    <hr>
    <input type="text" style="height: 1.5em; width: 35%;" (keyup)="resourceLinkInputcheck()" [(ngModel)]="resourceLinkInput">
    <button mat-button style="margin-left: 25px;" placeholder="Add resource link" [disabled]="!buttonAddResource" (click)="addResources(m)">Add Resources</button>
    <div class="resourceLinks" *ngFor="let r of resources">
      <a href="{{r.links}}">{{r.links}}</a>
    </div>
  </div>
</div>
<div *ngIf="getUserRoleStudent()">
  <div class="resourceHeader" *ngIf="ifResources()">
    <h1>Resources</h1>

  <hr>
  <div class="resourceLinks" *ngFor="let r of resources">
    <a href="{{r.links}}">{{r.links}}</a>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
