<div class="login">
  <img src="../../assets/Asset 1.png"><br>
  First Name:
  <input placeholder="First Name"  type="text" name="username" [(ngModel)]="name"><br>
  <!-- Last Name:
  <input placeholder="Last Name"  type="text" name="username" [(ngModel)]="username"><br> -->
  Email:
  <input placeholder="Email"  type="text" name="username" [(ngModel)]="email"><br>
  Create a user name:
  <input placeholder="Username"  type="text" name="username" [(ngModel)]="username"><br>
  Create a password:<input placeholder="Password" type="password" name="password" [(ngModel)]="password"><br>
  <button type="submit" (click)='Signup()'>
Sign up </button><br></div>
