/* You can add global styles to this file, and also import other style files */
@import 'styles/colorsheet.scss';
@import 'app/login/login.component.scss';
@import 'app/home/home.component.scss';
@import 'app/learning/learning.component.scss';
@import 'app/learning-details/learning-details.component.scss';
@import 'app/navbar/navbar.component.scss';
@import 'app/videos/videos.component.scss';
@import 'app/admin/admin.component.scss';
// @import 'app/bulletin-board/bulletin-board.component.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'app/launch-downloads-modal/launch-downloads-modal.component.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css';
@import '~ng-pick-datetime/assets/style/picker.min.css';
@import '../node_modules/@fortawesome/fontawesome-svg-core/styles.css';
@import '~ng-snotify/styles/material';
@import '~ng-snotify/styles/simple';
@import '~ng-snotify/styles/dark';
// @import './styles/awesome.scss';

html, body {
    height: 100%;
    width: 100%;
    margin:unset;
    font-family: sans-serif;
    overflow: auto;
    line-height: unset;
}

.mat-button{
    color: white;
    background: #0076a3;
}

.mat-button:hover {
    color: #fff;
    background-color: #0076a3 !important;
    border-color: #0076a3;
}

h3 {
    font-size: unset;
}

*, ::after, ::before {
    box-sizing: unset;
}
 .hover {
     cursor: pointer;
 }