#username {
  text-align: right;
  font-size: 1.15em;
  color: #023d55;
  margin: 25px;
}

#header {
	height: 30px;
	position: relative;
	padding: 45px;
  color:#FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}
#header button {
  background: none;
}
#header .fa {
  font-size: 20px;
  color: #333333;
  padding-bottom: 8px;
  padding-right:15px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
  text-shadow: 0 1px 1px #3E3E3E;
  text-align: right;
}

#logo h1 {
	font-size: 3.25em;
}


#menu {
	padding: 0 45px 0 45px;
	position: relative;
	margin: 0 0 0 0;
	height: 60px;
	line-height: 60px;
  border-top: solid 1px  #005b7f;
  background: #005b7f;
  font-weight: 200;
}

#menu a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.25em;
  letter-spacing: -1px;
  text-align: center;
}

#menu input {
    float: right;
    margin-top: 1.2em;

}

#menu ul {
  list-style: none;
  margin: unset;
}

#menu ul li {
	padding: 0 20px 0 20px;
	display: inline;
}

#menu ul li.first {
	padding-left: 0;
}


#wrapper {
	position: relative;
	margin: 75px auto 0 auto;
	background: #FFFFFF;
}

#username {
  font-size: 1.3em;
  color: #333333;
  position: absolute;
  top: 40%;
  right: 2.5%;
  font-weight: bold;
}

#header {
  position: relative;
  color:#FFFFFF;
  background-color: #2ba2d2;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
  overflow: hidden;
}

#menu {
	padding: 0 45px 0 1.3%;
	position: relative;
	margin: 0 0 0 0;
	height: 60px;
	line-height: 60px;
  border-top: solid 1px  #005b7f;
  background: #005b7f;
  font-family: sans-serif;

}

#menu a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.25em;
  letter-spacing: -1px;
  text-align: center;
  list-style: none;
  margin: unset;
	padding: 0 20px 0 20px;
  display: inline-block;
  font-size: 24px;
}

.navLinks {
  display: inline-flex;
  width: 100%;
  text-transform: capitalize;
}

#menu a:hover {
  background: #023d55;
}

#menu .example {
    float: right;
    margin: 20px;
    border-radius: 10px;
    width: 11%;
    right: 0;
}

#menu input {
  height: 2em;
  padding-left: 10px;
  margin: unset;
}

#menu button{
  height: 2.2em;
  position: absolute;
}

#menu a.first {
  padding: unset;
  padding-right: 20px;
}

#header img {
    top: 0;
    position: absolute;
    left: 0;
}

#header, #username, #menu {
    z-index: 100;
}

.searchBar input, .searchBar button {
  padding-top: unset !important;
  padding-bottom: unset !important;
  height: 2em !important;
}