<div>
    <div id="header">
        <img src="../../assets/artboard_1.png">
    <div id="username"><i class="fa fa-user" style= "padding-right: 10px; color: #333333"></i>{{currentUser ? currentUser.name : ''}}<button mat-icon-button [matMenuTriggerFor]="menu">
      <i class="fa fa-caret-down"></i></button>
      <mat-menu #menu="matMenu">
        <button style="width: 85%; padding-right: unset;" mat-menu-item (click) ="destroyToken()">Logout</button>
      </mat-menu>
      </div>
    </div>
    <div id="menu">
      <!-- <form class="example" style="margin:1em;height:1em">
        <div class="searchBar">
        <input type="text" placeholder="Search" name="search2" style="background-color:white;border: white">
        <button type="submit" style="display: block; background-color:white;border: white"><i class="fa fa-search"
          style="background-color:white; border-radius: 3px;border: white;right: 20px"></i></button>
        </div>
      </form> -->
      <div class="navLinks">
        <div class="navLinkCenter" style="margin: auto;">
            <a href="#/">Home</a>
            <a href="#/learning">Learning</a>
            <a href="#/communities">Communities</a>
            <!-- <a href="#/home">Enablement</a> -->
            <a href="#/videos">Videos</a>
            <a href="#/memberdirectory">Member Directory</a>
            <a *ngIf="getUserRoleInstructor()" href="#/grades">teaching</a>
            <a *ngIf="getUserRoleStudent()" href="#/grades">grades</a>
            <a *ngIf="getUserRoleAdmin()" href="#/users">Users</a>
        </div>
      </div>

    </div>
</div>
