<div>
    <div id="header">
        <img src="../../assets/artboard_1.png">
    <div id="username"><i class="fa fa-user" style= "padding-right: 10px; color: #024a66"></i>User Name <i (click)="destroyToken()" class="fa fa-caret-down" style= "color: #024a66"></i></div>
    </div>
    <div id="menu">
      <a (click)="isAuthenticated()" href="/home">Home</a>
      <a href="/learning">Learning</a>
      <a href="#">Communities</a>
      <a href="#">Enablement</a>
      <a href="/videos">Videos</a>
      <a href="#">Member Directory</a>
      <form class="example" style="margin:auto;height:20px">
        <input type="text" placeholder="Search" name="search2" style="background-color:white;border: white">
        <button type="submit" style="background-color:white;border: white"><i class="fa fa-search" style="background-color:white; border-radius: 3px;border: white;right: 20px"></i></button>
      </form>
    </div>
</div>