<div style="overflow: hidden;">
  <div id="header">
    <img src="../../assets/artboard_1.png">
    <div id="username" ngbDropdown class="d-inline-block">
      <i class="fa fa-user" style= "padding-right: 0px; color: #333333"></i>
      <button *ngIf="isApiDone" ngbDropdownToggle class="btn btn-outline-primary" id="navListMenu">{{getCurrentUser(content)}}</button>
        <div style="z-index: 100; overflow-x: hidden;" ngbDropdownMenu class="dropdown-menu" aria-labelledby="navListMenu">
          <button style="font-family: inherit" class="dropdown-item" (click)="destroyToken()">Logout</button>
        </div>
    </div>
  </div>
  <div id="menu">
    <div class="navLinks" *ngIf="isApiDone">
      <div class="navLinkCenter" style="margin: auto;">
        <a href="#/">Home</a>
        <a href="#/learning">Modules</a>
        <a href="#/communities">Forum</a>
        <a href="#/videos">Videos</a>
        <a href="#/memberdirectory">Member Directory</a>
        <a *ngIf="getUserRoleInstructor()" href="#/grades">teaching</a>
        <a *ngIf="getUserRoleStudent()" href="#/grades">grades</a>
        <a *ngIf="getUserRoleAdmin()" href="#/users">Users</a>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal let-c="close" let-d="dismiss">
  <div class="changepasswordheader" style="height: 28em;">
    <h1 style="text-align: center; margin-top: 1em">Password reset</h1>
    <div style="margin-top: 3em;">
      <form>
      <mat-form-field appearance="outline" style="margin-left: 10%; width: 40%;" id="PasswordInputChange1">
        <input matInput placeholder="Type new password"  type="password" name="name" [(ngModel)]="PasswordInputChange1">
      </mat-form-field><br>
      <mat-form-field appearance="outline" style="margin-left: 10%; width: 40%;" id="PasswordInputChange2">
        <input matInput placeholder="Confirm new password"  type="password" name="name" [(ngModel)]="PasswordInputChange2">
      </mat-form-field><br>
        <button mat-button (click)="updateUserPassword()" style="margin-left: 7em;" type="submit">Update</button>
      </form>
    </div>
  </div>
</ng-template>
