.memberDirectory {
    width: 100%;

}

.memberSearch {
    width: 80%;
    margin: auto;

}
.memberSearch h1 {
    color: #005b7f;
    font-weight: bold;
    text-align: center;
}
.memberscontainer table {
  font-size: 25px;
  padding-left: 68px;
}

.searchForm {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 45%;
    padding-top: 50px;
    height: unset !important;
}

.searchForm p {
    margin: 0% auto;
    font-size: 18px;
    padding-bottom: 15px;
    color: #666565;
}

.searchForm input {
    border: .5px solid black !important;
    border-radius: 5px;
    width: 75%;
    height: 40%;
    padding: 0px 0px 0px 5px;
    font-size: 16px;
    margin: 0% auto;
}

.searchForm button {
    grid-row: 3;
    grid-column: 1 / 3;
    width: 25%;
    margin: auto;
    color: white;
    background: #0076a3;
    border-radius: 15px;
    height: 2em;
}
.searchForm ::placeholder {
  color: rgb(194, 194, 194);
  opacity: 1; /* Firefox */
}

.searchForm p:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

.searchForm p:nth-child(3) {
    grid-row: 1;
    grid-column: 2;
}
.searchForm input:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
}

.searchForm input:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
}
