h1 {
    text-align:center !important;
}

.memberDirectory {
    overflow-x: hidden;
    min-height: 100%;
    background-color: rgb(245, 243, 243);

}

.memberSearch {
    width: 100%;
    padding-left: 50px;

}
.memberSearch h1 {
    color: rgb(8, 8, 8);
    font-weight: bold;
    text-align: left;
}
.memberscontainer table {
    font-size: 25px;
    padding-left: 68px;
}

.memberscontainer tr {
    padding-left: 19px;
    padding-bottom: 10px;   
}

// .memberscontainer {
//     margin-left: 27%;
// }

.members {
    width: 50%;
    margin: 0% auto;
}

.searchForm {
    display: grid;
    grid-template-rows: .1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-top: 30px;
    height: unset !important;
    padding-right: 60%;
    grid-column-gap: 30px;

}

.searchForm p {

    font-size: 16px;
    color: rgb(8, 8, 8);
}

.searchForm input {
    border-radius: 3px;
    width: 70%;
    height: 55%;
    padding-right: 30px;
    font-size: 16px;
}

.searchForm button {
    grid-row: 3;
    grid-column: 2;
    width: 20%;
    color: white;
    background: #0076a3;
    border-radius: 3px;
    border: none;
    height: 2.5em;
    box-shadow:3px 3px 3px rgb(179, 175, 175);
    margin-left: 80%;

}
.searchForm ::placeholder {
  color: rgb(194, 194, 194);
  opacity: 1; /* Firefox */
}

.fullNameTitle {
    grid-row: 1;
    grid-column: 1;
}

.stateTitle {
    grid-row: 1;
    grid-column: 2;
}
.fullName {
    grid-row: 2;
    grid-column: 1 / 3;
    width: 118%;
}

.state {
    grid-row: 2;
    grid-column: 2;
}
