<div class="memberDirectory">
  <div id=members>
  <div class="memberSearch">
    <br>
    <h1>Madhatter Member Directory</h1>
    <form class="searchForm" id="search" style="margin:auto;height:20px">
      <p>Member Full Name:</p>
      <input [(ngModel)]="searchString" name="searchString" placeholder="eg.John Doe..." style="background-color:white;border: white">
      <p>State:</p>
      <input type="text" placeholder="eg. Alabama..." name="state" style="background-color:white;border: white">
      <!-- <button  (search)="searchByName(search.value)">Search</button> -->
    </form>
  </div>
  <div class="memberResults">

  </div>
</div>
<div class = "memberscontainer">
  <table>
    <tbody>
      <tr *ngFor="let member of members | filter: 'name': searchString; let i = index">
        <td><i class="fa fa-user" style="color: #005b7f"></i></td>
        <td style ="padding-left: 19px">{{member.name}}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
