<div id="header">
    <img src="../../assets/artboard_1.png">
    <div id="username">User Name</div>
</div>
<div id="menu">
    <span><a href="#">Home</a></span>
    <span><a href="#">Leaning</a></span>
    <span><a href="#">Communities</a></span>
    <span><a href="#">Enablement</a></span>
    <span><a href="#">Videos</a></span>
    <span><a href="#">Member Directory</a></span>
    <span><input type="text"  placeholder="Search.." name="search"><i class="fas fa-search"></i></span>
</div>
<div class= "bootcampGrid">
  <div id="headersaying">
    Welcome to Mad Hatter Bootcamp Portal
  </div>

  <div class="hor">
  </div>
  <br>
  <div class="workbooks"><img src="../../assets/Asset 190.png"><a href="#">MY COURSE WORKBOOKS</a></div>
  <div class="resorces"><img src="../../assets/Asset 191.png"><a href="#">RESOURCES</a></div>
  <div class="external"><img src="../../assets/Asset 189.png"><a href="#">EXTERNAL RESOURCES</a></div>
</div>
