.bootcampGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .6fr .05fr 2.3fr;
  height: 50%;
  width: 95%;
  text-align: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#headersaying {
  padding-top: 30px;
  font-size: 2.5em;
  color: #005b7f;
  grid-column: 1 / 4;
  grid-row:1;
  text-align: center;
}

.hor {
  background-color:#005b7f;
  grid-row: 2;
  grid-column: 1 / 4;
}

h1,h2,h3,h4 {
	font-weight: normal;
	letter-spacing: -1px;
}
#username {
  text-align: right;
  font-size: 1.15em;
  color: #023d55;
  margin: 25px;
}

#header {
	height: 30px;
	position: relative;
	padding: 45px;
  color:#FFFFFF;
  background: url("../../assets/artboard_1.png") top left no-repeat;
  background-color: #2ba2d2;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}


#logo a {
	text-decoration: none;
	color: #FFFFFF;
  text-shadow: 0 1px 1px #3E3E3E;
  text-align: right;
}

#logo h1 {
	font-size: 3.25em;
}


#menu {
	padding: 0 45px 0 45px;
	position: relative;
	margin: 0 0 0 0;
	height: 60px;
	line-height: 60px;
  border-top: solid 1px  #005b7f;
  background: #005b7f;
}

#menu a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.25em;
  letter-spacing: -1px;
  text-align: center;
}

#menu a:hover {
  background: #023d55;

}

#menu input {
float: right;
margin: 20px

}

#menu ul {
  list-style: none;
  margin: unset;
}

#menu ul li {
	padding: 0 20px 0 20px;
	display: inline;
}

#menu ul li.first {
	padding-left: 0;
}


#wrapper {
	position: relative;
	margin: 75px auto 0 auto;
	background: #FFFFFF;
}

.workbooks{
  border-radius: 25px;
  grid-column: 1;
  grid-row: 3;
  margin: auto 0px auto 0px;
  padding: 20px;
  background: #0076a3;
  width: 80%;
  height: 40%;
  display: grid;
  grid-template-columns: .5fr 1.5fr;
  grid-template-rows: 1fr;
}

.workbooks img {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: auto;
}

.workbooks a {
  grid-column: 2;
  grid-row: 1;
  margin: auto;
}

.resorces{
  border-radius: 25px;
  grid-column: 2;
  grid-row: 3;
  margin: auto;
  padding: 20px;
  background: #0076a3;
  width: 80%;
  height: 40%;
  display: grid;
  grid-template-columns: .5fr 1.5fr;
  grid-template-rows: 1fr;
}

.resorces img {
  grid-column: 1;
  grid-row: 1;
  height: 65%;
  width: auto;
}

.resorces a {
  grid-column: 2;
  grid-row: 1;
  margin: auto;
}

.external{
  border-radius: 25px;
  grid-column: 3;
  grid-row: 3;
  margin: auto;
  padding: 20px;
  padding-right: 10px;
  background: #0076a3;
  width: 80%;
  height: 40%;
  display: grid;
  grid-template-columns: .5fr 1.5fr;
  grid-template-rows: 1fr;
}

.external img {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: auto;
}

.external a {
  grid-column: 2;
  grid-row: 1;
  margin: auto;
}

.bootcampGrid a {
  text-decoration: unset;
  color: white;
  font-weight: bold;
  font-size: 26px;
}
