<div id="header">
    <img src="../../assets/artboard_1.png">
    <div id="username"><i class="fa fa-user" style= "padding-right: 10px; color: #024a66"></i>User Name <i class="fa fa-caret-down" style= "color: #024a66"></i></div>
</div>
<div id="menu">
  <a href="#">Home</a>
  <a href="#">Learning</a>
  <a href="#">Communities</a>
  <a href="#">Enablement</a>
  <a href="#">Videos</a>
  <a href="#">Member Directory</a>
  <form class="example" style="margin:auto;height:20px">
    <input type="text" placeholder="Search" name="search2" style="background-color:white;border: white">
    <button type="submit" style="background-color:white;border: white"><i class="fa fa-search" style="background-color:white; border-radius: 3px;border: white;right: 20px"></i></button>
  </form>
</div>
<div class= "bootcampGrid">
  <div id="headersaying">
   <b> Welcome to Mad Hatter Bootcamp Portal</b>
  </div>

  <div class="hor">
  </div>
  <br>
  <div class="workbooks"><img src="../../assets/Asset 190.png"><a href="#">MY COURSE WORKBOOKS</a></div>
  <div class="resorces"><img src="../../assets/Asset 191.png"><a href="#">RESOURCES</a></div>
  <div class="external"><img src="../../assets/Asset 189.png"><a href="#">EXTERNAL RESOURCES</a></div>
</div>
