<div class= "bootcampGrid">
  <div id="headersaying">
    <b> Welcome to Mad Hatter Bootcamp Portal</b>
  </div>
  <div class="hor"></div>
  <br>
</div>
<div class="HomepageButtons">
  <div style="width:50%;margin-right: 10px;"><div [routerLink]="['/learning']" class="workbooks"><img src="../../assets/Asset 190.png"><a>BOOTCAMP MODULES</a></div></div>
  <div style="width:50%;margin-left: 10px;"><div [routerLink]="['/resources']" class="resorces"><img src="../../assets/Asset 191.png"><a>RESOURCES</a></div></div>
</div>
