<div class="row bulletin-board-container">
    <div id="news-feed" class="col-12 news-feed bulletin-board-container">
        <div class="row mt-2" style="height: 5em">
            <h2 style="margin-left: 20px; margin-top: 10px; text-transform: uppercase;">Forum</h2>
            <div class="col">
                <div class="row mt-2" style="width: 102%">
                <div class="col" style="text-align: right;">
                    <div class="label-spacer"></div>
                    <mat-form-field style="color: #505464" appearance="outline">
                        <input matInput placeholder="Search" #search (keyup.enter)="searchBulletinPosts(search.value)">
                    </mat-form-field>
                </div>
                </div>
            </div>
        </div>
        <div id="createPost" class="row">
            <div class="col-12" style="margin-left: 1.2%;">
                <h5>CREATE POST</h5>
            </div>
            <div style="width: 100%;" class="row">
                <div class="col-12">
                    <!-- <textarea id="bbTextArea" cols="30" rows="10" placeholder="Write a post.." [(ngModel)]="bulletinBoardPost.text"></textarea> -->
                    <angular-editor [(ngModel)]="bulletinBoardPost.text" [config]="config"></angular-editor>
                </div>
            </div>
            <div class="row" style="width: 96%;">
                <div class="col-12" id="paperclipandbutton">
                    <input type="file" #file  (change)="onFileChange($event)">
                    <button mat-button id="bbPostButton" [disabled]="fileUploading" (click)="createBulletinPost()">
                        <span>Post</span>
                    </button>
                    <div *ngIf="fileUploading" class="bbcontentToDisplay">
                        <mat-progress-spinner [diameter]="20" color="primary" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="px-4">Posts</h2>
        <div class="row mt-3" id="messagesContainerBB" style="margin-right: 0;min-height: 43%; margin-top: 0px !important">
            <div id="posts" class="col center-section">
                <br>
                <div *ngIf="isloading" class="contentToDisplay">
                    <mat-progress-spinner color="primary" mode="indeterminate">
                    </mat-progress-spinner>
                </div>
                <ul *ngIf="!isloading">
                    <li *ngFor="let gP of groupAndPeoplePosts">
                    {{ gP }}
                    </li>
                    <li *ngFor="let pos of posts | slice:0:9; let i = index">
                        <mat-card class="bbcardcomment">
                            <mat-card-header>
                                <div mat-card-avatar><i id="bbusericon" class="fa fa-user-circle"></i></div>
                                <mat-card-title>{{pos.author.name}}
                                </mat-card-title>
                                <mat-card-subtitle>
                                    <span style="right: 15px; position: absolute;">{{pos.postDate | date:
                                    'MMM d, yy h:mm a'}}</span>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <!-- <p class="content">{{pos.text}}</p> -->
                                <div [innerHTML]="pos.text" class="content"></div>
                                <div *ngFor="let att of pos.attachments">
                                    <div class="bbAttDownload" (click)="downloadAttatchemnts(att.id)">
                                        <span>{{att.fileNm}}</span>
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <i (click)="commentSection(pos.id)" [ngClass]="showComments === pos.id ? 'blue' : 'grey'" id="comment"  style="margin-left:30px; transition: 200ms" class="hover fa fa-comment" *ngIf="pos.lockYn != 'Y'">Comment</i>
                                <div class="row" *ngIf="showComments === pos.id" class="comment-section">
                                    <div class="row" style="margin-top: 1%;">
                                        <div id="bbPostCommentIcon" (click)="createPostComment(pos.id, i)">
                                            <i style="margin-left: 8px; color: #2093EE;" class="fa fa-paper-plane"></i>
                                        </div>
                                        <div class="bbPostWriteComment">
                                            <input style="background: #F3F3F3;" class="post-input" placeholder="Write a comment.." [(ngModel)]="bulletinComment.text">
                                        </div>
                                    </div>
                                </div>
                                <div *ngFor="let comment of pos.bltPostComment" >
                                    <div class="row" class="hover comment-section" *ngIf="showComments === pos.id">
                                        <hr style="margin-left: 2em;">
                                        <ul style="margin-left: 5px;">
                                            <li>
                                            <mat-card class="bbPostComment">
                                                <mat-card-header>
                                                    <mat-card-subtitle><h3 class="bbPostCommentNameHeader">{{comment.author.name}}</h3></mat-card-subtitle>
                                                    <mat-card-title>
                                                        <p style="font-size: 14px; font-weight: 100;">{{comment.text}}</p>
                                                    </mat-card-title>
                                                </mat-card-header>
                                                <mat-card-subtitle>
                                                    <span style="right: 15px; position: absolute;">{{pos.postDate | date:
                                                    'MMM d, yy h:mm a'}}</span>
                                                </mat-card-subtitle>
                                            </mat-card>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                        <hr style="visibility: hidden;">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
