<div class="row bulletin-board-container">
    <div id="news-feed" class="col-12 news-feed bulletin-board-container">
        <div class="row mt-2">
            <h2 style="margin-left: 20px; margin-top: 10px; text-transform: uppercase;">Communities</h2>
            <div class="col">
                <div class="row mt-2" style="width: 102%">
                    <div class="col" style="text-align: right;">
                        <div class="label-spacer"></div>
                        <mat-form-field style="color: #505464" appearance="outline">
                            <input matInput placeholder="Search" #search (keyup.enter)="searchBulletinPosts(search.value)">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="hot-topics" class="row center-section ">
            <div class="col-12">
                <h5>HOT TOPICS<i class="red fa fa-fire"></i></h5>
            </div>
            <ul id="hot-topics" class="row" style="width: 100%; margin-left: 15px; margin-right: 0px;">
                <li *ngFor="let pos of hotTopicPosts, let i=index" class="col-4">
                    <mat-card>
                        <div class="hot-topic-image-container" style="height: 220px; position: relative; border-radius: 6px; ">
                            <img class="hot-topic-image" mat-card-image style="object-fit: cover; height: 100%;" [src]="pos.image">
                            <div mat-card-image class="overlay">
                                <div class="hot-topic-image-text">
                                    <button class="read-more-btn" mat-button>View Post</button>
                                </div>
                            </div>
                        </div>
                        <mat-card-title>{{pos.author.person.lastNm}}, {{pos.author.person.firstNm}}</mat-card-title>
                        <mat-card-subtitle><span>{{pos.author.person.rank}}</span>
                            <span style="right: 15px; position: absolute;">{{pos.postDate | date: 'MM-dd-yyyy'}}</span></mat-card-subtitle>
                        <mat-card-subtitle><span>{{pos.author.person.workPhone}}</span><span style="right: 15px; position: absolute;">{{pos.author.niprEmail}}</span></mat-card-subtitle>
                        <mat-card-subtitle>{{pos.author.person.orgId.organizationNm}}</mat-card-subtitle>
                        <mat-card-content>
                            <p>
                                {{pos.topic}}
                            </p>
                            <p>
                                {{ (pos.text.length>100)? (pos.text | slice:0:100)+'..':(pos.text) }}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </li>
            </ul>
            <mat-toolbar>
                <mat-toolbar-row>
                    <mat-paginator style="background: inherit; margin: 0 auto;" showFirstLastButtons="true" [length]="hotTopicResults.length" [pageSize]="hotTopicResults.pageSize" (page)="pageEventHandler($event)">
                    </mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        </div> -->
        <div id="createPost" class="row">
            <div class="col-12">
                <h5>CREATE POST</h5>
            </div>
            <div style="width: 100%;" class="row">
                <div class="col-12">
                <textarea id="bbTextArea" cols="30" rows="10" placeholder="Write a post.." [(ngModel)]="bulletinBoardPost.text"></textarea>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    
                        <i class="hover fas fa-paperclip" (click)="file.click()"></i>
                </div>
            </div> -->
            <div class="row">
                <div class="col-12" id="paperclipandbutton">
                    <button mat-button id="bbPostButton" [disabled]="fileUploading" (click)="createBulletinPost()">
                        <span>Post</span>
                    </button>
                    <input type="file" #file  (change)="onFileChange($event)">
                    <div *ngIf="fileUploading" class="bbcontentToDisplay">
                        <mat-progress-spinner [diameter]="20" color="primary" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-3" id="messagesContainerBB" style="margin-left: 0; margin-right: 0;min-height: 45%;">
            <div id="posts" class="col center-section">
                <!-- <div class="col"> -->
                <h5 class="px-4">POSTS <i style="color: #9EA3B4;" class="fa fa-newspaper"></i></h5>
                <br>
                <div *ngIf="isloading" class="contentToDisplay">
                    <mat-progress-spinner color="primary" mode="indeterminate">
                    </mat-progress-spinner>
                </div>
                <ul *ngIf="!isloading">
                    <li *ngFor="let gP of groupAndPeoplePosts">
                        {{ gP }}
                    </li>

                    <!-- <li *ngFor="let gP of groupAndPeoplePosts">
                <mat-card *ngIf="showgroupAndPeoplePosts">
                  <mat-card-header>
                    <div mat-card-avatar><i class="fa fa-user-circle"></i></div>
                    <mat-card-title>User, PMO<i style="position: absolute; right: 16px; top: 17px;" class="hover fa fa-bookmark"></i></mat-card-title>
                    <mat-card-subtitle><span>ES- SSGT</span> -->
                    <!-- <span style="right: 15px; position: absolute;">{{pos.postDate | date: 'MM-dd-yyyy'}}</span></mat-card-subtitle> -->
                    <!-- <mat-card-subtitle><span style="right: 15px; position: absolute;">620-847-5531</span></mat-card-subtitle>
                    </mat-card-subtitle>
                  </mat-card-header> -->
                    <!-- <img mat-card-image > -->
                    <!-- <mat-card-content>
                    <p>
                      {{gP}}
                    </p> -->
                    <!-- <p>
                        {{pos.text}}
                      </p> -->
                    <!-- </mat-card-content>
                  <mat-card-actions>
                    <i (click)="likeClickEvent()" [ngClass]="likeClick ? 'red' : 'grey'" id="heart" style="margin-left:10px; transition: 200ms"
                      class="hover fa fa-heart"></i>
                    <i (click)="commentSection()" [ngClass]="commentClick ? 'blue' : 'grey'" id="comment" style="margin-left:30px; transition: 200ms"
                      class="hover fa fa-comment"></i>
                    <i id="share" style="margin-left:30px; transition: 200ms" class="hover fa fa-share"></i> -->
                    <!-- <div class="row" *ngFor="let comment of pos.comments" class="hover comment-section">
                        <hr>
                        <ul style="margin-left: 5px;">
                          <li>
                            <mat-card>
                              <mat-card-header>
                                <div mat-card-avatar><i style="font-size: 25px" class="fa fa-user-circle"></i></div>
                                <mat-card-subtitle>USMC SSgt John</mat-card-subtitle>
                                <mat-card-title>
                                  <p style="font-size: 14px; font-weight: 100;">{{comment.commentText}}</p>
                                </mat-card-title>
                              </mat-card-header>
                            </mat-card>
                          </li>
                        </ul>
                      </div> -->
                    <!-- <div class="row" *ngIf="showComments" class="comment-section">
                      <hr>
                      <ul style="margin-left: 5px;">
                        <li>
                          <mat-card>
                            <mat-card-header>
                              <div mat-card-avatar>
                                <i
                                  style="font-size: 25px"
                                  class="fa fa-user-circle"
                                ></i>
                              </div>
                              <mat-card-subtitle>USMC SSgt John</mat-card-subtitle>
                            </mat-card-header>
                          </mat-card>
                        </li>
                      </ul>
                      <div class="row">
                        <div class="col-11">
                          <input
                            style="background: #F3F3F3;"
                            class="post-input"
                            placeholder="Write a comment.."
                            [(ngModel)]="newComment"
                          />
                        </div>

                        <div style="vertical-align: middle; padding-top: 0; font-size:23px; margin-left: -30px; cursor: pointer;"
                          class="col-1" (click)="addComment(gP)">
                          <i style="margin-left: 8px; color: #2093EE;" class="fa fa-paper-plane"></i>
                        </div>
                      </div>
                    </div>
                  </mat-card-actions>
                </mat-card>
                <hr>
              </li> -->

                    <li *ngFor="let pos of posts; let i = index">
                        <mat-card class="bbcardcomment">
                            <mat-card-header>
                                <div mat-card-avatar><i id="bbusericon" class="fa fa-user-circle"></i></div>
                                <mat-card-title>{{pos.author.name}}
                                    <!-- <i style="position: absolute; right: 16px; top: 17px;" class="hover fa fa-bookmark" (click)="addToFavs(pos)" *ngIf="!favoritePostsIds.includes(pos.id)"></i> -->
                                <!-- <i (click)="setLock()" [ngClass]="lockPost ? 'fa fa-lock' : 'fa fa-unlock'" style=" position: absolute; right: 60px; top: 16px;transition: 200ms;" class="hover"></i> -->
                                </mat-card-title>
                                <mat-card-subtitle>
                                    <span style="right: 15px; position: absolute;">{{pos.postDate | date:
                                        'MMM d, yy h:mm a'}}</span></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p class="content">
                                    {{pos.text}}
                                </p>
                                <div *ngFor="let att of pos.attachments">
                                    <div class="bbAttDownload" (click)="downloadAttatchemnts(att.id)">
                                        <span>
                                            {{att.fileNm}}
                                        </span>
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <!-- <i (click)="likeClickEvent(pos)" [ngClass]="{'blue': pos.liked, 'grey': !pos.liked}" id="heart" style="margin-left:10px; transition: 200ms;" class="hover fa fa-thumbs-up"></i>
                                <p class="d-inline-flex ml-1" id="like">Like</p>
                                <p class="d-inline-flex ml-2">{{pos.likeCount}}</p> -->
                                <i (click)="commentSection(pos.id)" [ngClass]="showComments === pos.id ? 'blue' : 'grey'" id="comment"  style="margin-left:30px; transition: 200ms" class="hover fa fa-comment" *ngIf="pos.lockYn != 'Y'">Comment</i>
                                <div class="row" *ngIf="showComments === pos.id" class="comment-section">
                                    <div class="row" style="margin-top: 1%;">
                                        <div id="bbPostCommentIcon" (click)="createPostComment(pos.id, i)">
                                            <i style="margin-left: 8px; color: #2093EE;" class="fa fa-paper-plane"></i>
                                        </div>
                                        <div class="bbPostWriteComment">
                                            <input style="background: #F3F3F3;" class="post-input" placeholder="Write a comment.." [(ngModel)]="bulletinComment.text">
                                        </div>
                                    </div>
                                </div>
                                <div *ngFor="let comment of pos.bltPostComment" >
                                <div class="row" class="hover comment-section" *ngIf="showComments === pos.id">
                                    <hr style="margin-left: 2em;">
                                    <ul style="margin-left: 5px;">
                                        <li>
                                            <mat-card class="bbPostComment">
                                                <mat-card-header>
                                                    <!-- <div mat-card-avatar><i style="font-size: 25px" class="fa fa-user-circle"></i></div> -->
                                                    <mat-card-subtitle><h3 class="bbPostCommentNameHeader">{{comment.author.name}}</h3></mat-card-subtitle>
                                                    <mat-card-title>
                                                        <p style="font-size: 14px; font-weight: 100;">{{comment.text}}</p>
                                                    </mat-card-title>
                                                </mat-card-header>
                                                <mat-card-subtitle>
                                                    <span style="right: 15px; position: absolute;">{{pos.postDate | date:
                                                        'MMM d, yy h:mm a'}}</span></mat-card-subtitle>
                                            </mat-card>
                                        </li>
                                    </ul>
                                </div>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                        <hr style="visibility: hidden;">
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
