<div class="gridBody">
  <div class="login">
    <img src="../../assets/Asset 1.png"><br>
    <input placeholder="Email / Username"><br>
    <input placeholder="Password"><br>
    <button (click)="userLogInAttempt()" routerLink = 'home'>
      Log in
    </button><br>
    <p><a>Forgot your Password?</a></p>
    <p>New Member? <a class = "signUpLogin">Sign Up</a></p>
  </div>
  <p class="bottomText">Brought to you by: Kessel Run, the 309th SMXG, and the Joint Strike Fighter Program</p>
  <div class="graphicLogin">
    <img src="../../assets/bandwidth-crop.jpg">
  </div>
  <div class="graphicText">
    <img id="UIUX" src="../../assets/Asset 193.png">
    <span id="UIUXSpan">UI/UX Bootcamp</span>
    <img id="bootcamp" src="../../assets/Asset 192.png">
    <span id="bootcampSpan">Advanced Software Developer Bootcamp</span>
  </div>
</div>
