<div id="header">
    <img src="../../assets/artboard_1.png">
    <div id="username">User Name</div>
</div>
<div id="menu">
  <!-- <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Leaning</a></li>
    <li><a href="#">Communities</a></li>
    <li><a href="#">Enablement</a></li>
    <li><a href="#">Videos</a></li>
    <li><a href="#">Member Directory</a></li>
    <li><input type="text"  placeholder="Search..." name="search"><i class="fas fa-search"></i></li>
  </ul> -->
  <a href="#">Home</a>
  <a href="#">Leaning</a>
  <a href="#">Communities</a>
  <a href="#">Enablement</a>
  <a href="#">Videos</a>
  <a href="#">Member Directory</a>
  <input type="text"  placeholder="Search..." name="search"><i class="fas fa-search"></i>
</div>
<div class= "bootcampGrid">
  <div id="headersaying">
    Welcome to Mad Hatter Bootcamp Portal
  </div>

  <div class="hor">
  </div>
  <br>
  <div class="workbooks"><img src="../../assets/Asset 190.png"><a href="#">MY COURSE WORKBOOKS</a></div>
  <div class="resorces"><img src="../../assets/Asset 191.png"><a href="#">RESOURCES</a></div>
  <div class="external"><img src="../../assets/Asset 189.png"><a href="#">EXTERNAL RESOURCES</a></div>
</div>
