<!-- /////////////////////////////////////////////////////////////////////////
                            INSTRUCTOR SECTION
///////////////////////////////////////////////////////////////////////// -->
<div *ngIf="isLoading" class="contentToDisplay">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
</div>
<div id="adminInstructor" *ngIf="getUserRoleInstructor()">
  <div *ngIf="teacherRole === 2" class="classSeperation">
    <h1 id="headerTitle" *ngIf="!isLoading">Advanced Software Developer</h1>
    <div class="learningContent" *ngFor="let m of modules">
      <div *ngIf="m.bootcamp">
        <div class= "headerLearningContent">
          <h1>{{m.title}}</h1>
          <div class="headerProgress" style="width:25em">
            <div class="headerProgress-bar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': 0*100}">
              <span>0%</span>
            </div>
        </div>
        <div class="time"><h3> 2 hr(s) and 30 mins</h3></div>
        </div>
        <div>
        <hr>
        <div class="showTopics" *ngFor="let t of m.topicId" >
        <div class="adminSubheader">
          <div class="subheaderlc">
            <h3>{{t.topicTitle}}</h3>
          </div>
          <div class="toggleDetailsButton">
            <button mat-button (click)=toggleContent()>Toggle Content for Students</button>
          </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
<div *ngIf="teacherRole === 1" class="classSeperation">
    <h1 id="headerTitle" *ngIf="!isLoading">UI / UX</h1>
    <div class="learningContent" *ngFor="let m of modules">
      <div *ngIf="!m.bootcamp">
        <div class= "headerLearningContent">
          <h1>{{m.title}}</h1>
          <div class="headerProgress" style="width:25em">
            <div class="headerProgress-bar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': 0*100}">
              <span>0%</span>
            </div>
        </div>
        <div class="time"><h3> 2 hr(s) and 30 mins</h3></div>
        </div>
        <div>
        <hr>
        <div class="showTopics" *ngFor="let t of m.topicId" >
        <div class="adminSubheader">
          <div class="subheaderlc">
            <h3>{{t.topicTitle}}</h3>
          </div>
          <div class="toggleDetailsCheckbox">
            <!-- <button mat-button (click)=toggleContent(t.hidden)>{{t.hidden}} Content for Students</button> -->
            <mat-checkbox [checked]="!ishidden(t.hidden)" (click)=toggleContent(t,m.id)></mat-checkbox>
          </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
</div>
<!-- /////////////////////////////////////////////////////////////////////////
                            STUDENT SECTION
///////////////////////////////////////////////////////////////////////// -->
<div id="adminStudent" *ngIf="getUserRoleStudent()">
  <div class="learningContent" *ngFor="let m of modules">
      <div class= "headerLearningContent">
        <h1>Module {{m.id}}</h1>

      <div class="timeAdmin"><h3> 2 hr(s) and 30 mins</h3></div>
        <div class="studentGradeOverall">
        </div>
      <!-- <div class="time"><h3> 2 hr(s) and 30 mins</h3></div> -->
      </div>
      <div>
      <hr>
      <div class="showTopics" *ngFor="let t of m.topicId" >
      <div class="adminSubheader">
        <div class="subheaderlc">
          <h3>{{t.topicTitle}}</h3>
        </div>
        </div>
      </div>
    </div>
    </div>
</div>
