.timeAdmin {
    grid-column: 4;
    grid-row: 1;
}

.studentGradeOverall {
    grid-column: 3;
    grid-row: 1;
}

.progress {
    grid-column: 2;
    grid-row: 1;
}
#adminInstructor .learningContent, #adminStudent .learningContent {
    padding-bottom: unset;
}

#headerTitle{
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
}

.classSeperation {
    padding-bottom: 10%;
}

h3 {
    letter-spacing: 0px;
}

.toggleDetailsCheckbox {
    grid-column: 4;
    grid-row: 1;
    margin: auto;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #004a80 !important;
}

.adminSubheader {
  display: grid;
  grid-template-columns: .5fr .5fr .2fr .3fr;
  grid-template-rows: 1fr;
  width: 75%;
  margin: 10px auto 2% auto;
}

.subheaderadmin {
  grid-column: 1;
  grid-row: 1;
  cursor: pointer;
  width: 100%;
  display: inline-flex;
}

.subheaderadmin h3 {
  font-weight: bold;
  width: 80%;
}

#externalLinkAdmin {
    margin-left: 5%;
}

.input {
  grid-column: 2;
  grid-row: 1;
  margin: auto 5% auto 0%;
}

.uploading {
  grid-column: 2;
  grid-row: 2;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(63,81,181,.54);
}
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #3f51b5;
}

.mat-slide-toggle-thumb {
    cursor: pointer !important;
}

/deep/ .mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: #3f51b5;
}

#adminDownloadButton {
    margin-left: 10px;
}
