<!-- 
//
//
//
//
//
//
//
//
 -->
 <!-- /////////////////////////////////////////////////////////////////////////
                            INSTRUCTOR SECTION
///////////////////////////////////////////////////////////////////////// -->
<!-- 
//
//
//
//
//
//
//
//
 -->
<div *ngIf="isLoading" class="contentToDisplay">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
</div>
<div *ngIf="!isLoading">
<div id="adminInstructor" *ngIf="getUserRoleInstructor()">
  <div *ngIf="teachingRole('ASD')" class="classSeperation">
    <h1 id="headerTitle">Advanced Software Developer</h1>
    <div class="learningContent" *ngFor="let m of modules">
      <div *ngIf="m.bootcamp">
        <div class= "headerLearningContent">
          <h1>{{m.title}}</h1>
        <div class="time"><h3></h3></div>
        </div>
        <div>
        <hr>
        <div class="showTopics" *ngFor="let t of topics" >
            <div class="adminSubheader" *ngIf="t.mod.id === m.id">
              <div class="subheaderadmin">
                <h3>{{t.topicTitle}}</h3>
                <i class="fas fa-external-link-alt" id="externalLinkAdmin"></i>
              </div>
            <div class="toggleDetailsCheckbox">
              <mat-slide-toggle [checked]="!t.hidden" (change)=toggleContent(t,m.id)></mat-slide-toggle>
            </div>
            </div>
            <!-- ///////////// MODAL ////////////// -->
          <ng-template #content let-modal let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h3 class="modal-title" id="modal-basic-title">Download Content</h3>
                <button mat-button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="learningDetailGridSeperator" *ngFor="let att of t.attachments">
                  <div class="learningDetailGrid" (click)="downloadAttatchemnts(att.id)">
                      <p class="learningDetailName">
                          {{att.fileNm}}</p>
                        <!-- <button style="margin-left: 25%; margin-top: 10px;" mat-button ">Download</button> -->
                        <i  id="learningDetailDownload"class="fa fa-download" aria-hidden="true"></i>
                    <!-- <div *ngFor="let a of attList">
                    <p *ngIf="att.attachmentId === a.id">
                      {{att.fileNm}}
                      <button style="margin-left: 25%; margin-top: 10px;" mat-button (click)="downloadAttatchemnts(a.id)">Download</button>
                    </p>
                  </div> -->
                  </div>
                </div>
              </div>
              <!-- <div class="modal-footer">
                <button mat-button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
              </div> -->
            </ng-template>
          </div>
      </div>
      </div>
  </div>
</div>
<div *ngIf="teachingRole('UI')" class="classSeperation">
    <h1 id="headerTitle" *ngIf="!isLoading">UI / UX</h1>
    <div class="learningContent" *ngFor="let m of modules">
      <div *ngIf="!m.bootcamp">
        <div class= "headerLearningContent">
          <h1>{{m.title}}</h1>
        <div class="time"><h3></h3></div>
        </div>
        <div>
        <hr>
        <div class="showTopics" *ngFor="let t of topics" >
          <div class="adminSubheader" *ngIf="t.mod.id === m.id">
            <div data-toggle="modal" data-target="#modal-basic-title" (click)="open(content)" class="subheaderadmin">
              <h3>{{t.topicTitle}}</h3>
              <i class="fas fa-external-link-alt" id="externalLinkAdmin"></i>
            </div>
          <div class="toggleDetailsCheckbox">
            <mat-slide-toggle [checked]="!t.hidden" (change)=toggleContent(t,m.id)></mat-slide-toggle>
          </div>
          </div>
          <!-- ///////////// MODAL ////////////// -->
          <ng-template #content let-modal let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h3 class="modal-title" id="modal-basic-title">Download Content</h3>
                <button mat-button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="learningDetailGridSeperator" *ngFor="let att of t.attachments">
                  <div class="learningDetailGrid" (click)="downloadAttatchemnts(att.id)">
                      <p class="learningDetailName">
                          {{att.fileNm}}</p>
                        <!-- <button style="margin-left: 25%; margin-top: 10px;" mat-button ">Download</button> -->
                        <i  id="learningDetailDownload"class="fa fa-download" aria-hidden="true"></i>
                    <!-- <div *ngFor="let a of attList">
                    <p *ngIf="att.attachmentId === a.id">
                      {{att.fileNm}}
                      <button style="margin-left: 25%; margin-top: 10px;" mat-button (click)="downloadAttatchemnts(a.id)">Download</button>
                    </p>
                  </div> -->
                  </div>
                </div>
              </div>
              <!-- <div class="modal-footer">
                <button mat-button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
              </div> -->
            </ng-template>
        </div>
      </div>
      </div>
  </div>
</div>
</div>
<!-- 
//
//
//
//
//
//
//
//
 -->
<!-- /////////////////////////////////////////////////////////////////////////
                            STUDENT SECTION
///////////////////////////////////////////////////////////////////////// -->
<!-- 
//
//
//
//
//
//
//
//
 -->
<div id="adminStudent" *ngIf="getUserRoleStudent()">
    <div *ngIf="studentsRole('ASD')" class="classSeperation">
      <h1 id="headerTitle" *ngIf="!isLoading">Advanced Software Developer</h1>
      <div class="learningContent" *ngFor="let m of modules">
        <div *ngIf="m.bootcamp">
          <div class= "headerLearningContent">
            <h2>{{m.title}}</h2>
            <div>
              <div class="headerProgress" style="width:25em">
                <div class="headerProgress-bar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': 0*100}">
                  <span>0%</span>
                </div>
            </div>
          </div>
          <div class="time" style="text-align: right"><h3 style="font-weight: bold"> Score</h3></div>
          </div>
          <hr>
          <div class="showTopics" *ngFor="let t of topics">
              <div *ngIf="!t.hidden">
          <div class="adminSubheader" *ngIf="t.mod.id === m.id">
            <div (click)="downloadAttatchemnts(a.id)" class="subheaderadmin">
                <h3>{{t.topicTitle}}</h3> 
                <i class="fas fa-external-link-alt" id="externalLinkAdmin"></i>
              </div>
              <div class="input">
              <input type="file" #file  (change)="onFileChange($event,t)">
                <button style="margin-left: 25%; margin-top: 10px;" mat-button (click)="updateSubmittedAtt(a)" >Submit Assignment</button>
              </div>
            <div class="toggleDetailsCheckbox">
            </div>
            </div>
            <!-- ///////////// MODAL ////////////// -->
          <ng-template #content let-modal let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h3 class="modal-title" id="modal-basic-title">Download Content</h3>
                <button mat-button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="learningDetailGridSeperator" *ngFor="let att of t.attachments">
                  <div class="learningDetailGrid" (click)="downloadAttatchemnts(att.id)">
                      <p class="learningDetailName">
                          {{att.fileNm}}</p>
                        <!-- <button style="margin-left: 25%; margin-top: 10px;" mat-button ">Download</button> -->
                        <i  id="learningDetailDownload"class="fa fa-download" aria-hidden="true"></i>
                    <!-- <div *ngFor="let a of attList">
                    <p *ngIf="att.attachmentId === a.id">
                      {{att.fileNm}}
                      <button style="margin-left: 25%; margin-top: 10px;" mat-button (click)="downloadAttatchemnts(a.id)">Download</button>
                    </p>
                  </div> -->
                  </div>
                </div>
              </div>
              <!-- <div class="modal-footer">
                <button mat-button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
              </div> -->
            </ng-template>
          </div>
          </div>
        </div>
        </div>
    </div>
  </div>
  <div *ngIf="studentsRole('UI')" class="classSeperation">
      <h1 id="headerTitle" *ngIf="!isLoading">UI / UX</h1>
      <div class="learningContent" *ngFor="let m of modules">
        <div *ngIf="!m.bootcamp">
          <div class= "headerLearningContent">
            <h2>{{m.title}}</h2>
            <div>
              <div class="headerProgress" style="width:25em">
                <div class="headerProgress-bar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': 0*100}">
                  <span>0%</span>
                </div>
            </div>
          </div>
          <div class="time" style="text-align: right"><h3 style="font-weight: bold"> Score</h3></div>
          </div>
          <div>
          <hr>
          <div class="showTopics" *ngFor="let t of topics">
            <div *ngIf="!t.hidden">
          <div class="adminSubheader" *ngIf="t.mod.id === m.id">
            <div (click)="downloadAttatchemnts(a.id)" class="subheaderadmin">
                <h3>{{t.topicTitle}}</h3>
                <i class="fas fa-external-link-alt" id="externalLinkAdmin"></i>
              </div>
              <div class="input">
              <input type="file" #file  (change)="onFileChange($event,t)">
                <button style="margin-left: 25%; margin-top: 10px;" mat-button (click)="updateSubmittedAtt(a)" >Submit Assignment</button>
              </div>
            <div class="toggleDetailsCheckbox">
            </div>
            </div>
            <!-- ///////////// MODAL ////////////// -->
          <ng-template #content let-modal let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h3 class="modal-title" id="modal-basic-title">Download Content</h3>
                <button mat-button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="learningDetailGridSeperator" *ngFor="let att of t.attachments">
                  <div class="learningDetailGrid" (click)="downloadAttatchemnts(att.id)">
                      <p class="learningDetailName">
                          {{att.fileNm}}</p>
                        <!-- <button style="margin-left: 25%; margin-top: 10px;" mat-button ">Download</button> -->
                        <i  id="learningDetailDownload"class="fa fa-download" aria-hidden="true"></i>
                    <!-- <div *ngFor="let a of attList">
                    <p *ngIf="att.attachmentId === a.id">
                      {{att.fileNm}}
                      <button style="margin-left: 25%; margin-top: 10px;" mat-button (click)="downloadAttatchemnts(a.id)">Download</button>
                    </p>
                  </div> -->
                  </div>
                </div>
              </div>
              <!-- <div class="modal-footer">
                <button mat-button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
              </div> -->
            </ng-template>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
</div>
