.timeAdmin {
    grid-column: 4;
    grid-row: 1;
}

.studentGradeOverall {
    grid-column: 3;
    grid-row: 1;
}

.progress {
    grid-column: 2;
    grid-row: 1;
}
#adminInstructor .learningContent, #adminStudent .learningContent {
    padding-bottom: unset;
}

#headerTitle{
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
}

.classSeperation {
    padding-bottom: 10%;
}

h3 {
    letter-spacing: 0px;
}

.toggleDetailsCheckbox {
    grid-column: 4;
    grid-row: 1;
    margin: auto;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #004a80 !important;
}

.adminSubheader {
  display: grid;
  grid-template-columns: .5fr .5fr .2fr .3fr;
  grid-template-rows: 1fr;
  width: 75%;
  margin: 10px auto 0 auto;
}

.subheaderlc {
  grid-column: 1;
  grid-row: 1;
}

.input {
  grid-column: 2;
  grid-row: 1;
  margin: auto 0;
}

.uploading {
  grid-column: 2;
  grid-row: 2;

}
