.timeAdmin {
    grid-column: 4;
    grid-row: 1;
}

.studentGradeOverall {
    grid-column: 3;
    grid-row: 1;
}

.progress {
    grid-column: 2;
    grid-row: 1;
}
#adminInstructor .learningContent, #adminStudent .learningContent {
    padding-bottom: unset;
}

#headerTitle{
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
}

.classSeperation {
    padding-bottom: 10%;
}

h3 {
    letter-spacing: 0px;
}

.toggleDetailsCheckbox {
    grid-column: 4;
    grid-row: 1;
    margin: auto;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #004a80 !important;
}

.adminSubheader {
  display: grid;
  grid-template-columns: .5fr .5fr .2fr .3fr;
  grid-template-rows: 1fr;
  width: 75%;
  margin: 10px auto 0% auto;
}

#adminSubheaderUnderline {
    grid-row: 1;
    grid-column: 2 / 4;
    width: 108%;
    border-top: 1px solid black;
    padding-top: 35px;
}

.attachemntGridAdmin {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 1fr;
    width: 75%;
    height: 4em;
    margin: 0px auto 0% auto;
}

#AttachmentSeperatorAdminPage:last-child {
    visibility: hidden;
}

.studentDetialUpload {
    grid-row: 1;
    height: 2em;
    margin-top: 1.5em;
    grid-column: 2;
    cursor: pointer;
    display: inline-flex;
}

.studentDetialUpload a {
    color: black;
    text-decoration: unset;
    display: block;
}

.studentUpload {
    grid-row: 1;
    grid-column: 3;
}

.subheaderadmin {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  display: inline-flex;
}

.subheaderadmin h3 {
  font-weight: bold;
  width: 80%;
}

#externalLinkAdmin {
    margin-left: 5%;
}

.input {
  grid-column: 2;
  grid-row: 1;
  margin: auto 5% auto 0%;
}

.uploading {
  grid-column: 2;
  grid-row: 2;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(63,81,181,.54);
}
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #3f51b5;
}

/deep/ .mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: #3f51b5;
}

#adminDownloadButton {
    margin-left: 10px;
}

#titleRule {
    border-bottom: 2px solid #AAAAAA
}

hr {
    width: 85%;
}

.headerAdminContent {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    width: 85%;
    margin: 2% auto 0 auto;
}

.headerAdminContentTitle {
    grid-column: 1 / 4;
    grid-row: 1;
    display: inline-flex;
}

.adminSetProgress {
    grid-row: 1;
    grid-column: 4;
    display: inline-flex;
    grid-row: 1;
    grid-column: 4;
}

#editButtonAdmin {    
    margin-left: auto;
    width: fit-content;
    margin-right: 15%;
    margin-top: 1%;
}

// .teacherContent {
//     margin: auto 0% auto auto;
//     grid-row: 2;
//     grid-column: 4;
// }

.hideShowQuizzes {
    margin: auto 5% auto auto;
}

.adminSetProgress button {
    height: 2.5em;
    margin-top: 3%;
    visibility: hidden;
}

.adminSetProgress p {
    margin: unset;
    height: 1em;
    margin-top: auto;
}

// .excerciseSubheader {
//     margin-bottom: 1%;
// }

.ProgressBarGridPos {
    grid-column: 1 / 3;
    grid-row: 2;
    margin-top: auto;
}

.adminScore {
    // text-align: right;
    grid-row: 2;
    grid-column: 4;
    margin-left: 47%;
    margin-top: auto;
    font-size: 26px;
}

#adminDownloadItem {
    padding-left: 15px;
}

.TeacherView {
    grid-column: 3;
    grid-row: 1;
    margin: auto 0px;
}

.TeacherDownload {
    grid-row: 1;
    grid-column: 2;
    cursor: pointer;
    margin: auto 0px;
    display: inline-flex;
}

#titleRule {
    width: 78%;
    margin-left: 7%;
}

.downloadIconGrades {
    margin: 0%;
    margin-right: 5%;
}

.TeacherView button {
    margin: unset;
}

.studentAttemptsGrid {
    display: grid;
    grid-template-columns: 1fr .2fr .5fr .5fr;
    grid-template-rows: 1fr;
    font-size: 28px;
}

.studentAttemptName {
    grid-row: 1;
    grid-column: 1;
    margin: auto 0%;
}

.studentAttemptDownload {
    grid-row: 1;
    display: flex;
    grid-column: 2;
}

.studentAttemptGrade {
    grid-row: 1;
    grid-column: 3;
}

.modal-dialog {
    max-width: 50% !important;
}

#adminModalContent {
    min-height: 15em !important;
}
.adminDetailGridSeperator {
    padding: 10px 15px;
    margin: 5px 0%;
}

.studentAttemptGradeButton {
    grid-row: 1;
    grid-column: 4;
}

.StudentTopicScore {
    grid-column: 4;
    grid-row: 1;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin-right: 7%;
}

#resourcesTrashAdminTopic {
    grid-row: 1;
    margin: auto;
    grid-column: 4;
}

.getStudentAttemptsForAtt {
    grid-row: 1;
    grid-column: 3 / 5;
}

.mat-form-field-wrapper {
    width: 85%;
}

.modfileNm{
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: 1fr;
}

.faIconsforTeacherContent {
    grid-column: 2;
    grid-row: 1;
}

#resourcesTrashAdmin {
    padding-left: 4em;
}

.mainGradesTabular .mat-tab-header {
    background: unset;
    color: black;
    text-align: center;
    border-bottom: 2px solid black;
    width: fit-content;
    margin: auto;
    font-size: 1.5em;
    font-weight: 100;
}
